html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background: #f7efe0;
  color: #1d1d1d;
}

nav {
  background: #071f3f;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  transition: 0.3s;
}

nav a:hover {
  color: #f7c85f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  border-radius: 8px;
  z-index: 10;
}

.dropdown-content a {
  color: #071f3f;
  padding: 12px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
  min-height: 85vh;
  background: linear-gradient(rgba(255,245,220,0.25), rgba(255,245,220,0.25)),
              url("images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.hero-text {
  max-width: 550px;
  animation: fadeUp 1.2s ease;
}

h1 {
  font-size: 70px;
  color: #071f3f;
}

h2 {
  font-size: 42px;
  color: #071f3f;
}

h3 {
  color: #b38419;
}

.button {
  background: #071f3f;
  color: white;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s;
}

.button:hover {
  background: #f7c85f;
  color: #071f3f;
}

section {
  padding: 55px 8%;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  flex: 1;
  min-width: 230px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.material {
  background: white;
  margin: 18px 0;
  padding: 22px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: #071f3f;
  color: white;
  text-align: center;
  padding: 25px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
